        @import url(https://fonts.googleapis.com/css?family=Dosis:500);

        //== Cores ==//
        $blue: #556ee6;
        $indigo: #564ab1;
        $purple: #6f42c1;
        $pink: #e83e8c;
        $red: #f46a6a;
        $orange: #f1734f;
        $yellow: #f1b44c;
        $green: #34c38f;
        $teal: #050505;
        $cyan: #50a5f1;

        $ouro: #ecc81a;
        $prata: #9aa0a5;
        $bronze: #f1734f;
        //== Cores ===//

        .timeline {
            // counter-reset: year 2013;
            position: relative;
        }

        .timeline li {
            list-style: none;
            float: left;
            width: 8.3333%;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }

        .timeline ol,
        ul {
            padding-left: 0rem !important;
        }

        .timeline li:before {
            content: '⚽';
            background-size: 700% 700%;
            background-image: linear-gradient(-45deg,
                    rgba(59, 173, 227, 1) 0%,
                    rgba(87, 111, 230, 1) 25%,
                    rgba(152, 68, 183, 1) 51%,
                    rgba(255, 53, 127, 1) 100%);
            animation: AnimateBG 20s ease infinite;
            width: 30px;
            height: 30px;
            border-width: 2px;
            border-style: solid;
            border-color: rgba(5, 27, 37, 0.3);
            border-radius: 50%;
            display: block;
            text-align: center;
            line-height: 30px;
            margin: 0 auto 10px;
            color: #000;
            cursor: auto;
        }

        .timeline li:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: grey;
            top: 15px;
            left: -50%;
            z-index: -999;
            transition: all ease-in-out .3s;
        }

        .timeline li:first-child:after {
            content: none;
        }

        .timeline li.active {
            color: #555555;
        }

        .timeline li.active:before {
            content: '🏆';
            font-size: 2rem;
            width: fit-content;
            background-size: 700% 700%;
            background-image: linear-gradient(-45deg,
                    rgba(59, 173, 227, 1) 0%,
                    rgba(87, 111, 230, 1) 25%,
                    rgba(59, 173, 227, 1) 51%,
                    rgba(87, 111, 230, 1) 100%);

            animation: AnimateBG 20s ease infinite;
            cursor: pointer;
            // color: #F1F1F1;
        }

        .premiacaoTrimestre .badge {
            font-size: 100%;
        }

        // .timeline li.active+li:after {
        //     background: $blue;
        // }

        .border-ouro {
            border-color: $ouro  !important;
        }

        .border-prata {
            border-color: $prata  !important;
        }

        .border-bronze {
            border-color: $bronze  !important;
        }

        @keyframes AnimateBG {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }

        .tooltipGatilho1,
        .tooltipGatilho2 {
            padding: 0;
            border: none;
            color: #fff;
        }