        @import url(https://fonts.googleapis.com/css?family=Dosis:500);

        //== Cores ==//
        $blue: #556ee6;
        $indigo: #564ab1;
        $purple: #6f42c1;
        $pink: #e83e8c;
        $red: #f46a6a;
        $orange: #f1734f;
        $yellow: #f1b44c;
        $green: #34c38f;
        $teal: #050505;
        $cyan: #50a5f1;

        $ouro: #ecc81a;
        $prata: #9aa0a5;
        $bronze: #f1734f;

        //== Cores ===//
        body {
            background: #F1F1F1;
        }

        // .container {
        //     width: 1200px;
        //     margin: 200px auto;
        // }

        .timeline {
            // counter-reset: year 2013;
            position: relative;
        }

        .timeline li {
            list-style: none;
            float: left;
            width: 8.3333%;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Dosis', sans-serif;
        }

        .timeline ol,
        ul {
            padding-left: 0rem !important;
        }

        //Cor da fonte de texto
        // .premios ul:nth-child(1) {
        //     color: #4caf50;
        // }

        .timeline li:before {
            // counter-increment: year;
            content: '⚽';
            width: 40px;
            height: 40px;
            border: 3px solid $blue;
            border-radius: 50%;
            display: block;
            text-align: center;
            line-height: 35px;
            margin: 0 auto 10px;
            background: #f1f1f1;
            color: #000;
            cursor: pointer;
        }

        .timeline li:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: grey;
            top: 20px;
            left: -50%;
            z-index: -999;
            transition: all ease-in-out .3s;
        }

        .timeline li:first-child:after {
            content: none;
        }

        .timeline li.active {
            color: #555555;
        }

        .timeline li.active:before {
            background: $blue;
            color: #F1F1F1;
        }

        .timeline li.active+li:after {
            background: $blue;
        }

        .border-ouro{
            border-color: $ouro !important;
        }
        
        .border-prata {
            border-color: $prata !important;
        }

        .border-bronze {
            border-color: $bronze !important;
        }
