//== Cores ==//
$blue: #556ee6;
$indigo: #564ab1;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f46a6a;
$orange: #f1734f;
$yellow: #f1b44c;
$green: #34c38f;
$teal: #050505;
$cyan: #50a5f1;

$ouro: #ecc81a;
$prata: #9aa0a5;
$bronze: #f1734f;

//== Cores ===//

.pink {
    color: $pink;
}

.success {
    color: $green;
}

.primary {
    color: $blue;
}

.danger {
    color: $red;
}

.warning {
    color: $yellow;
}


//Loader CSS Modo Noturno
// #loader {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     z-index: 1;
//     width: 120px;
//     height: 120px;
//     margin: -76px 0 0 -76px;
//     border: 16px solid #f3f3f3;
//     border-radius: 50%;
//     border-top: 16px solid #3498db;
//     -webkit-animation: spin 2s linear infinite;
//     animation: spin 2s linear infinite;
// }
// Loader CSS Modo Noturno

.card{
    margin-bottom: 10px !important;
}

.form-check {
    padding-top: 5px;
}

.paginaInicial {
    margin-left: 0 !important;
}

.bonusIcone {
    content: url(assets/images/bonus.svg);
}

.modalBonus {
    border: 1px solid #556ee6;
}

.CorVerde {
    color: $green;
}

.avatarRanking {
    font-size: 15px;
    font-weight: 600;
}

.avatar-sm {
    height: 2rem !important;
    width: 2rem !important;
}

.descritivoInicial {
    float: right;
    width: 330px;
    color: #74788d;
    opacity: 0.7;
    margin-top: -15px;
}

//==  Simulador.html  ==//
.hackTabelaAltura {

    color: transparent !important;
    user-select: none;

}

//== FILTROS inicio.html ==//
#datepicker4 {
    cursor: pointer;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #2a3042 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #2a3042;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.selectFiltros {
    border: 1px solid #ced4da !important;
}

//== Carousel Ranking Colors ==//
.first {
    color: #ecc81a;
}

.second {
    color: #4e606b;
}

.third {
    color: #f1734f;
}

//== Carousel Ranking Colors End ==//

.carousel-align {
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.carousel-item {
    transition: none !important;
    display: none !important;
}

.carousel-item.active {
    display: block !important;
}

.separador::after {
    content: "|";
    opacity: 0.5;
}

.card-footer#footerRankingPosicao {
    padding: .625rem 1.25rem !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.progress {
    background-color: #b9b9b970 !important;
    overflow: unset;
    display: -webkit-box;
}

.fogueteBar {
    position: relative;
    margin-top: -8px;
    margin-left: -15px;
    z-index: 1000;
    height: 30px;
    animation-duration: 6s;
}

.progress-bar {
    align-items: flex-end !important;
}

.progress-icon-end {
    position: absolute;
    top: -11px;
    right: -12px;
    border-radius: 15px 50px 30px 5px !important;
}

.progress-icon-start {
    position: absolute;
    top: -11px;
    border-radius: 15px 50px 30px 5px !important;
}

.rounded-bar {
    border-radius: 15px 50px 50px 15px;
}

.avatar-xs {
    //Override app.scss
    height: 3rem;
    width: 3rem;
}

.progress-lg {
    height: 15px;
}

.avatar-title-card {
    align-items: center;
    background-color: $success;
    color: $white;
    display: flex;
    font-weight: 400;
    height: 75%;
    justify-content: center;
    width: 75%;
    border-radius: 5px 5px 5px 5px;
    font-size: 1rem;
}

.avatar-title.start {
    align-items: center;
    background-color: $yellow;
    color: $white;
    display: flex;
    font-weight: $fw-medium;
    height: 75%;
    justify-content: center;
    width: 75%;
    border-radius: 5px 5px 5px 5px;
    font-size: 1rem;
}

.titleProgressBar {
    justify-content: center;
    align-items: flex-end;
}

.card-footer {
    background-color: rgba(0, 0, 0, .07) !important;
}

.carousel-align h6 {
    margin-bottom: 0;
}

.pontosInicio {
    font-size: 1rem;
}

// Separador vertical do card
.sobreIndicador:after {
    content: "";
    background-color: $blue;
    opacity: 0.2;
    position: absolute;
    width: 2px;
    height: 151px;
    top: 28px;
    left: 100%;
    display: block
}

mark {
    background-color: #e3effc !important;
}

#cardRegrasCalculo {
    border-radius: 0px 0px 0.25rem 0.25rem !important;
    display: none;
}

.expand {
    border-radius: 0.25rem 0.25rem 0px 0px !important;
    transition: width .1s;
    transition-timing-function: ease;
    width: 100%;
    background-color: $blue  !important;
    color: #fff;
}

.expand:hover {
    transition: background-color 2s;
    transition-timing-function: ease;
    background-color: $cyan  !important;
    color: #fff;
}

.shrink {
    transition: width 1s;
    transition: background-color .5s;
    transition-timing-function: ease;
    width: 17%;
    background-color: $blue  !important;
    color: #fff;

    #cardRegrasCalculo {
        border-radius: 0.25rem !important;
    }
}

.shrink:hover {
    transition: background-color 2s;
    transition-timing-function: ease;
    background-color: $cyan  !important;
    color: #fff;
}

.mini-stats-wid {
    box-shadow: inset 0px 0px 0px .3px $blue;
}

.indicadorCard .mini-stats-wid:hover {
    box-shadow: inset 0px 0px 0px 1px $blue;
    transition: box-shadow .5s;
}

// Texto do marker
.apex-charts text {
    fill: #fff;
}

// Escala Tabela Yaxis Xaxis
.apexcharts-text.apexcharts-yaxis-label {
    fill: #adb5bd;
}

// Titulos Yaxis
.apexcharts-text.apexcharts-yaxis-title-text {
    fill: #adb5bd !important;
}

// Titulos Yaxis
.apex-charts text tspan {
    fill: #adb5bd !important;
}

.descTotalPontos {
    font-size: .8rem;
}

//Indicador Tooltip
.tooltipIndicador {
    padding: 0;
    border: none;
    color: $blue;
}

//Row
.rankingCards {
    --bs-gutter-y: 0;
    cursor: pointer;
}

//BACKGROUND ANIMATED POSITION
.bg-ranking {
    width: 100%;
    //height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,
            rgba(59, 173, 227, 1) 0%,
            rgba(87, 111, 230, 1) 25%,
            rgba(152, 68, 183, 1) 51%,
            rgba(255, 53, 127, 1) 100%);
    animation: AnimateBG 20s ease infinite;
}

.bg-ranking-grupos {
    width: 100%;
    //height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,
            rgba(59, 173, 227, 1) 0%,
            rgba(87, 111, 230, 1) 25%,
            rgba(59, 173, 227, 1) 51%,
            rgba(87, 111, 230, 1) 100%);
    animation: AnimateBG 20s ease infinite;
}

.bg-ouro {
    width: 100%;
    //height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,
            rgba(255, 151, 0, 1) 0%,
            rgb(230, 194, 0, 1) 25%,
            rgb(255, 194, 0) 51%,
            rgba(255, 151, 0, 1) 100%);
    animation: AnimateBG 20s ease infinite;
}

.bg-prata {
    width: 100%;
    //height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,
            rgb(190, 216, 228) 0%,
            rgb(143, 148, 170) 25%,
            rgb(128, 115, 133) 51%,
            rgb(70, 61, 64) 100%);
    animation: AnimateBG 20s ease infinite;
}

.bg-bronze {
    width: 100%;
    //height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg,
            rgba(144, 89, 35, 1) 0%,
            rgba(185, 114, 45, 1) 25%,
            rgba(210, 140, 71, 1) 51%,
            rgb(205, 88, 50, 1) 100%);
    animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

//Classe dos MARCOS na progress bar
.marcos {
    position: relative;
}

.marcosMetaSegundo {
    cursor: pointer;
}

.marcosMetaTerceiro {
    cursor: pointer;
}

.iconMarco {
    position: relative;
}

.iconMarco::after {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    content: attr(data-colocacao);
    top: 5px;
    left: 38%;
    color: #fff;
    font-size: 1rem;
}

// EVITA QUE A PAGINA CRIE BARRA DE ROLAGEM AO FECHAR O MENU LATERAL
body[data-sidebar=dark].vertical-collpsed{ 
    min-height: auto !important;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    height: 145px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 67%;
    transition: transform .6s .1s; //Transform in .6s and delay .1s
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 0.25rem;
}

/* Style the back side */
.flip-card-back {
    padding: 15px;
    text-align: left;
    color: #000;
    -webkit-box-shadow: inset 0 0 0 0.3px #556ee6;
    box-shadow: inset 0 0 0 0.3px #556ee6;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 130px;

    .titleCard{
        color: #556ee6;
        margin-bottom: 0;
        font-size: 13px;
    }
}

/* Gradient transparent - color - transparent */

hr.divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Inset, by Dan Eden */

hr.divider2 {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(85, 110, 230, 0.1);
    border-bottom: 1px solid rgba(85, 110, 230, 0.3);
}

// ALTERA TAMANHO PADRÃO DO CONTAINER (250px)

.main-content {
    margin-left: 230px;
}

.vertical-menu {
    width: 230px !important;
}

.navbar-brand-box {
    width: 230px !important;
}

.footer{
    left: 230px;
}

.page-content{
    padding-bottom: 70px;
}

// =============================== //

table#tabelaInicialComparador{
    tbody, td, th{
        font-size: 13px !important;
    }
}

.table>:not(caption)>*>* {
    padding: 0.45rem !important;
}

// Separador vertical do comparador
.dividerComparador:after {
    content: "";
    background-color: $blue;
    opacity: 1;
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    left: 100%;
    display: block
}